*{
    margin: 0;
    padding: 0;
}
.img {
   width: 30%; 
   height: 30%;
   float: left;
   margin-top: 40px;
   background-color: #CCD6DD;
}


.bg {
    margin-left: 30%;
    height: 30%;
    
}
img {
    border-radius: 50px;
    margin-top: 20px;
}
header {
    background-color: #292F33;
    color: whitesmoke;
}
body {
    padding: 10px;
    background-color: #CCD6DD;
   height: 100%;
}
h1,h2{
    text-align: center;
    padding: 5px;
}
.purple {
 color: #55ACEE;
}
form {
    margin-top: 48px;
}
 label {
    padding: 20px;
    
    text-transform: uppercase;
    text-emphasis-style:bold;
   
}
.border {
    border-bottom: solid gray 2px;
    margin-top:20px;
}
.div2 {
    background-color: #292F33;
    height: 30%;
}