*{
    margin: ;
    padding: 0;
}
.img {
   width: 33.3%; 
   height: 33.3%;
}
.center {
    margin-left: 30%;
    width: 50%;
    border-radius: 50%;
    background-color: ivory;
}
body {
    padding: 10px;
   
}